
/.ruby-version
Gemfile.lock

# editor temp files
*.swp
*~

# packaging
/pkg
/bj-1.*.*

.bundle

# test artifacts

spec/rails_root/vendor/plugins/bj/*
spec/rails_root/bin
spec/rails_root/log/development.log


